<form [formGroup]="form">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Busca - Cep</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex-auto flex-wrap w-full">
      <div>
        <mat-form-field class="w-1/3 max-md:w-full px-1">
          <mat-label>CEP</mat-label>
          <input matInput formControlName="cep" placeholder="Digite o CEP" />
          <mat-error *ngIf="form.get('cep')?.hasError('required')">
            CEP é obrigatório.
          </mat-error>
          <mat-error *ngIf="form.get('cep')?.hasError('minlength')">
            CEP deve ter pelo menos 8 caracteres.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-1/3 max-md:w-full px-1">
          <mat-label>Cidade</mat-label>
          <input matInput [value]="endereco?.localidade" readonly />
        </mat-form-field>
        <mat-form-field class="w-1/3 max-md:w-full px-1">
          <mat-label>Estado</mat-label>
          <input matInput [value]="endereco?.estado" readonly />
        </mat-form-field>
        <mat-form-field class="w-1/3 max-md:w-full px-1">
          <mat-label>Bairro</mat-label>
          <input matInput [value]="endereco?.bairro" readonly />
        </mat-form-field>
        <mat-form-field class="w-1/3 max-md:w-full px-1">
          <mat-label>Logradouro</mat-label>
          <input matInput [value]="endereco?.logradouro" readonly />
        </mat-form-field>
        <mat-form-field class="w-1/3 max-md:w-full px-1">
          <mat-label>Complemento</mat-label>
          <input matInput [value]="endereco?.complemento" />
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        class="mx-2"
        (click)="buscarCep()"
      >
        Buscar
      </button>
      <button mat-raised-button (click)="limparFormulario()">Limpar</button>
    </mat-card-actions>
  </mat-card>
</form>
